In [48]:
import pandas as pd
import sieveOfEratosthenes as soe
import palindromes as pals

First we read in the CSV file containing the prime numbers that have been found so far.

In [49]:
prime_df = pd.read_csv('primes.csv', index_col=False)
prime_df

         primes
0             2
1             3
2             5
3             7
4            11
...         ...
664574  9999937
664575  9999943
664576  9999971
664577  9999973
664578  9999991

[664579 rows x 1 columns]

Now, we'll use a lambda function to apply the palindrome evaluation module to each row in the DataFrame. 

To to this, we use DataFrame.apply(). Inside the method, we write a lambda function that takes the Series value in the 'primes' column, passes the value to pals.palindrome(), and assigns the returned value to the current Series in a new column named 'palindrome'.

P(n): n is a palindrome is represented by:

1 -> True

0 -> False

In [50]:
prime_df['palindrome'] = prime_df.apply(lambda row: pals.palindrome(row['primes']), axis=1)
prime_df

         primes  palindrome
0             2           1
1             3           1
2             5           1
3             7           1
4            11           1
...         ...         ...
664574  9999937           0
664575  9999943           0
664576  9999971           0
664577  9999973           0
664578  9999991           0

[664579 rows x 2 columns]

Using the DataFrame.value_counts() method we can compare the number of palindromes to non-palindromes in the set of prime numbers.

In [51]:
pal_count = prime_df['palindrome'].value_counts()

print(
f"""
{'Primes:':20} {len(prime_df)}
{'Palindromes:':20} {pal_count[1]}
{'Non-Palindromes:':20} {pal_count[0]}
""")

Primes:              664579
Palindromes:         781
Non-Palindromes:     663798