In [75]:
import pandas as pd
import sieveOfEratosthenes as soe
import palindromes as pals

First we read in the CSV file containing the prime numbers that have been found so far.

In [76]:
prime_10 = pd.read_csv('primes_10.csv', index_col=False)
prime_10.head()

   primes
0       2
1       3
2       5
3       7
4      11

Now, we'll use a lambda function to apply the palindrome evaluation module to each row in the DataFrame. 

To to this, we use DataFrame.apply(). Inside the method, we write a lambda function that takes the Series value in the 'primes' column, passes the value to pals.palindrome(), and assigns the returned value to the current Series in a new column named 'palindrome'.

P(n): n is a palindrome is represented by:

1 -> True

0 -> False

In [77]:
prime_10['palindrome'] = prime_10.apply(lambda row: pals.palindrome(row['primes']), axis=1)
prime_10.head()

   primes  palindrome
0       2           1
1       3           1
2       5           1
3       7           1
4      11           1

Using the DataFrame.value_counts() method we can compare the number of palindromes to non-palindromes in the set of prime numbers.

In [78]:
pal_count_10 = prime_10['palindrome'].value_counts()

print(
f"""
{'Primes:':20} {len(prime_10)}
{'Palindromes:':20} {pal_count_10[1]}
{'Non-Palindromes:':20} {pal_count_10[0]}
""")

Primes:              664579
Palindromes:         781
Non-Palindromes:     663798

After evaluating [1, 10000001] we can see that approximately 0.1175% of this set is composed of palindromic numbers.

Let's run the same evaluation on [1, 100000001] to see how that ratio changes.

In [79]:
prime_100 = pd.read_csv('primes_100.csv', index_col=False)
prime_100.head()

   primes
0       2
1       3
2       5
3       7
4      11

In [80]:
prime_100['palindrome'] = prime_100.apply(lambda row: pals.palindrome(row['primes']), axis=1)
prime_100.head()

   primes  palindrome
0       2           1
1       3           1
2       5           1
3       7           1
4      11           1

In [81]:
pal_count_100 = prime_100['palindrome'].value_counts()

print(
f"""
{'Primes:':20} {len(prime_100)}
{'Palindromes:':20} {pal_count_100[1]}
{'Non-Palindromes:':20} {pal_count_100[0]}
""")

Primes:              5761455
Palindromes:         781
Non-Palindromes:     5760674

It is clear that even in a data set with 5,096,876 additional primes found in [1, 100000001] that there are no new palindromic prime numbers identified.